<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="./static/js/smoothie.js"></script>
<script type="text/javascript">

// Randomly add a data point every 500ms
setInterval(appendData, 2000);
var xmlHttp = new XMLHttpRequest();  
var portSize = 14;
var randoms = new Array(new TimeSeries(), new TimeSeries(),new TimeSeries(),new TimeSeries(),new TimeSeries(),new TimeSeries(),new TimeSeries(),new TimeSeries(),new TimeSeries(),new TimeSeries(),new TimeSeries(),new TimeSeries(),new TimeSeries(),new TimeSeries());

function appendData() {
    var url = 'http://127.0.0.1:8000/data'//{{ url_for('data') }}
    xmlHttp.open("GET", url, true);
    xmlHttp.onreadystatechange = appendDataCbk;   
    xmlHttp.setRequestHeader("Content-Type",  
            "application/x-www-form-urlencoded;");  
    xmlHttp.send(); 
}
function appendDataCbk() {
    var response = JSON.parse(xmlHttp.responseText);
    console.log(response)

    var now = new Date().getTime()
    
    for (var i = 0; i < portSize; i ++) {
        randoms[i].append(now, response["data"][i])
    }
}


function createTimeline() {
    var chart = new SmoothieChart();
    var charts = new Array(new SmoothieChart(), new SmoothieChart(),new SmoothieChart(),new SmoothieChart(),new SmoothieChart(),new SmoothieChart(),new SmoothieChart(),new SmoothieChart(),new SmoothieChart(),new SmoothieChart(),new SmoothieChart(),new SmoothieChart(),new SmoothieChart(),new SmoothieChart());
    for (var i = 0; i < portSize; i ++) {
    charts[i].addTimeSeries(randoms[i], { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 4 });
    charts[i].streamTo(document.getElementById("chart" + i), 2000);
    }
    
}
</script>
</head>
<body onload="createTimeline()">
<!--{{user}}-->
<canvas id="chart0" style="1000" height="60"></canvas>
<canvas id="chart1" width="1000" height="80"></canvas>
<canvas id="chart2" width="1000" height="100"></canvas>
<canvas id="chart3" width="1000" height="100"></canvas>
<canvas id="chart4" width="1000" height="100"></canvas>
<canvas id="chart5" width="1000" height="100"></canvas>
<canvas id="chart6" width="1000" height="100"></canvas>
<canvas id="chart7" width="1000" height="100"></canvas>
<canvas id="chart8" width="1000" height="100"></canvas>
<canvas id="chart9" width="1000" height="100"></canvas>
<canvas id="chart10" width="1000" height="100"></canvas>
<canvas id="chart11" width="1000" height="100"></canvas>
<canvas id="chart12" width="1000" height="100"></canvas>
<canvas id="chart13" width="1000" height="100"></canvas>
</body>
</html>
