<!DOCTYPE html>
<html>
<head>

    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        background-color: #111111;
        color: #eeeeee;
        font-family: tahoma, arial, sans-serif;
        padding-left: 100px;
      }
      h4 {
        margin-bottom: 1px;
      }
      .chart-box{
        overflow: hidden;
        width: 1000px;
        min-height: 100px;
      }
      .chart-panel{
          width: 3000px;
      }
      .chart-item{
          width: 1000px;
          float: left
      }
      .clearfix:after {       
          content: ".";    
          display: block; 
          clear: both;   
          visibility: hidden;
          line-height: 0;
          height: 0;
          font-size:0;
     }

      .clearfix { *zoom:1;} 
    </style>
<script type="text/javascript" src="./static/js/smoothie.js"></script>
<script type="text/javascript">
var seriesOptions = [
  { strokeStyle: 'rgba(255, 0, 0, 1)', fillStyle: 'rgba(255, 0, 0, 0.1)', lineWidth: 3 },
  { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.1)', lineWidth: 3 },
  { strokeStyle: 'rgba(0, 0, 255, 1)', fillStyle: 'rgba(0, 0, 255, 0.1)', lineWidth: 3 },
  { strokeStyle: 'rgba(255, 255, 0, 1)', fillStyle: 'rgba(255, 255, 0, 0.1)', lineWidth: 3 }
];

setInterval(appendData, 2000);
var xmlHttp = new XMLHttpRequest();  
var randoms = new Array();
var random3 = new TimeSeries();
var portSize = 14;
var ports = new Array('80', '25', '443', '53', '22', '21', '67', '110', '143', '137', '138', '139', '1024-', '1024+');
for (var i = 0; i < portSize; i ++) {
    randoms.push([new TimeSeries(), new TimeSeries()]);
}
function appendData() {
    var url = 'http://127.0.0.1:8000/data'//{{ url_for('data') }}
    xmlHttp.open("GET", url, true);
    xmlHttp.onreadystatechange = appendDataCbk;   
    xmlHttp.setRequestHeader("Content-Type",  
            "application/x-www-form-urlencoded;");  
    xmlHttp.send(); 
}
function appendDataCbk() {
    var response = JSON.parse(xmlHttp.responseText);
    console.log(response)
    var now = new Date().getTime()
    for (var i = 0; i < portSize; i ++) {
        randoms[i][0].append(now, response["size"][i])
        randoms[i][1].append(now, response["count"][i])
    }
    random3.append(now, response["entropy"]);
}

function createTimeline() {
    var charts1 = new Array();
    var charts2 = new Array();
    var chart3 = new SmoothieChart({ millisPerPixel: 20, grid: { strokeStyle: '#555555', lineWidth: 1, millisPerLine: 1000, verticalSections: 4 }});
    for (var i = 0; i < portSize; i ++) {
        charts1.push(new SmoothieChart({ millisPerPixel: 20, grid: { strokeStyle: '#555555', lineWidth: 1, millisPerLine: 1000, verticalSections: 4 }}));
        charts2.push(new SmoothieChart({ millisPerPixel: 20, grid: { strokeStyle: '#555555', lineWidth: 1, millisPerLine: 1000, verticalSections: 4 }}));

    }
    for (var i = 0; i < portSize; i ++) {
        charts1[i].addTimeSeries(randoms[i][0], seriesOptions[0]);
        charts2[i].addTimeSeries(randoms[i][1], seriesOptions[1]);
        charts1[i].streamTo(document.getElementById("chart1" + i), 2000);
        charts2[i].streamTo(document.getElementById("chart2" + i), 2000);
    }
    chart3.addTimeSeries(random3, seriesOptions[0]);
    chart3.streamTo(document.getElementById("chart3"), 2000);
}

$(function(){
    function cleanLi() {
        $('#myTab li').removeClass("active");
    }
    $('#myTab .tab1').click(function(e){
        cleanLi();
        $(this).addClass("active");
        $('#slideChart').animate({marginLeft:"0px"});
    })
    $('#myTab .tab2').click(function(e){
        cleanLi();
        $(this).addClass("active");
        $('#slideChart').animate({marginLeft:"-1000px"});
    })
    $('#myTab .tab3').click(function(e){
        cleanLi();
        $(this).addClass("active");
        $('#slideChart').animate({marginLeft:"-2000px"});
    })

    function insertItem(){
        for (var i = 0; i < portSize; i ++) {
            var template = '<h4>port = ' + ports[i] + '</h4><canvas id="chart1'+ i +'" width="1000" height="80"></canvas>';
            $("#slideChart .item1").append(template);
        }
        for (var i = 0; i < 14; i ++) {
            var template = '<h4>port = ' + ports[i] + '</h4><canvas id="chart2'+ i +'" width="1000" height="80"></canvas>';
            $("#slideChart .item2").append(template);
        }
        $("#slideChart .item3").append('<canvas id="chart3" width="1000" height="80"></canvas>');
    }
    insertItem();
    createTimeline();
});
</script>
</head>
<body>
<ul id="myTab" class="nav nav-tabs">
    <li class="active tab1">
        <a href="#">size</a>
    </li>
    <li class="tab2">
        <a href="#">count</a>
    </li>
    <li class="tab3">
        <a href="#">encropy</a>
    </li>

</ul>
<div class="chart-box">
    <div id="slideChart" class="chart-panel clearfix">
        <div class="chart-item item1">
        </div>
        <div class="chart-item item2">
        </div>
        <div class="chart-item item3">
        </div>

    </div>    
</div>
</body>
</html>
